[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Rebecca (RebeccaKemper)
[access "refs/for/refs/*"]
	read = group user/Rebecca (RebeccaKemper)
	push = group user/Rebecca (RebeccaKemper)
	label-Code-Review = -2..+2 group user/Rebecca (RebeccaKemper)
	label-Verified = -1..+1 group user/Rebecca (RebeccaKemper)
	rebase = group user/Rebecca (RebeccaKemper)
	removeReviewer = group user/Rebecca (RebeccaKemper)
	submit = group user/Rebecca (RebeccaKemper)
[access "refs/heads/*"]
	read = group user/Rebecca (RebeccaKemper)
	create = group user/Rebecca (RebeccaKemper)
	push = +force group user/Rebecca (RebeccaKemper)
	pushMerge = group user/Rebecca (RebeccaKemper)
[access "refs/tags/*"]
	push = group user/Rebecca (RebeccaKemper)
	push = +force group user/Rebecca (RebeccaKemper)
[receive]
	requireContributorAgreement = false
	requireSignedOffBy = false
